@using Microsoft.AspNetCore.Identity
@using IndividualSeeSharpers.Data
@using Microsoft.AspNetCore.Mvc.Localization
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer localizer


<h3 class="mb-5"> @localizer["Welcome"] @UserManager.GetUserName(User) </h3>

<section class="row">
    <div class="col-sm-12">
        <div class="row align-items-center">
            
            <ul class="navbar-nav col-lg-3 ">

                <p>@localizer["To do"]</p>
                <li>
                    <a class="nav-link border-bottom m-2" asp-area="" asp-controller="Movies" asp-action="Index">@localizer["Movies"]</a>
                </li>
                <li>
                    <a class="nav-link border-bottom m-2" asp-area="" asp-controller="Mail" asp-action="Index">@localizer["Newsletter"]</a>
                </li>
                <li>
                    <a class="nav-link border-bottom m-2" asp-area="" asp-controller="Show" asp-action="Index">@localizer["Shows"]</a>
                </li>
                <li>
                    <a class="nav-link border-bottom m-2" asp-area="" asp-controller="Price" asp-action="Index">@localizer["Prices"]</a>
                </li>
            </ul>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6">
                <img src="~/Images/Dashboard.svg" style="max-height: 400px;"/>
            </div>

        </div>
    </div>
  
</section>