@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
<div class="border-top mt-5">


    <div class="col-lg-6 text-center mx-auto align-self-center mt-3 mb-3">
        
        <div class="h3 mb-3">@localizer["Follow"]</div>
        <a class="btn text-primary" title="Facebook" href="https://www.facebook.com/" target="_blank">
            <span class="fa fa-2x fa-facebook"></span>
            <span >Facebook</span>
        </a>
        <a class="btn text-primary" title="Twitter" href="https://twitter.com/" target="_blank">
            <span class="fa fa-2x fa-twitter"></span>
            <span >Twitter</span>
        </a>
        <a class="btn btn-icon text-primary" title="Instagram" href="https://www.instagram.com/" target="_blank">
            <span class="fa fa-2x fa-instagram"></span>
            <span>Instagram</span>
        </a>
        <a class="btn btn-icon text-primary" title="YouTube" href="https://www.youtube.com/" target="_blank">
            <span class="fa fa-2x fa-youtube-play"></span>
            <span>YouTube</span>
        </a>
    </div>
    
    <div class="row">
        <div class="col-lg-8 text-center mx-auto align-self-center mt-3 mb-3">

            <div class="form-container">

                <div class="h2 mobile-adjust color-white">@localizer["Family"]</div>
                <p>@localizer["Newsletter"]</p>

                    @using (Html.BeginForm("Subscribe", "Subscribe", FormMethod.Post))
                    {
                        <p>
                            @Html.TextBox("Email")
                            <input class="btn btn-outline-primary" type="submit" value="@localizer["Subscribe"]"/>
                        </p>
                    }
               
            </div>
        </div>
    </div>
</div>